## .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.pdb
*.log

## SQLite local db (API ./data folder)
**/data/*.db
**/data/*.db-*

## VS / Rider
.vs/
.idea/

## Node / Vite
**/node_modules/
**/dist/

## OS
Thumbs.db
Desktop.ini
